:root {

  --color-1: hsla(0, 0%, 100%, 1);
  --color-2: hsla(180, 2%, 12%, 1);
  --color-3: hsl(150, 30%, 60%);
  --color-4: hsla(0, 0%, 0%, 1);
  --color-5: hsla(0, 0%, 95%, 1);


  --bg-page: var(--color-1);
  --primary-color: var(--color-1);
  --secondary-color: var(--color-5);
  --accent-color: var(--color-3);
  --accent-color-opacity:hsla(150, 30%, 60%, 0.423);


  --text-light: var(--color-1);
  --text-dark: var(--color-2);

  --bg-footer: var(--color-4);
}