.burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
 

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-4);
    transition: transform 0.1s;
    cursor: pointer;

    &--top,
    &--bottom {
      transform: translateY(0);
      transform-origin: center;

    }
  }

  &--active {
    .burger-btn__line:nth-child(1) {
      transform: translateY(11px) rotate(45deg) scaleX(1.3);
    }

    .burger-btn__line:nth-child(2) {
      opacity: 0;
    }

    .burger-btn__line:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg) scaleX(1.3);
    }
  }

}