


.link-btn {
  padding: 22px 57px;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media (hover:hover) {
    transition: filter 0.3s;
    &:hover {
      filter: brightness(1.2);
    }
  }
}