
.list-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 278px));
  gap: 24px;
  justify-content: center;


  &__item {
    min-height: 392px;
    padding-bottom: 16px;
    border-bottom: solid gray 1px;
  }
}